.NavBar {
  /* background-color: blue; */
  padding: 1rem;
  background-color: #f9e230;
  color: white;
  text-align: center;
  position: sticky;
}
.Container {
  margin: 1rem 10%;
  background-color: #fafafa;
}
