@import "../App.css";

.NavBar {
  padding: 1rem;
  
  background-color: var(--primery-color);
  color: white;
  text-align: center;
  position: sticky;
}
.Container {
  background-color: var(--conBackColor);
  margin: 1rem 10%;
}

.Footer{
  background-color: var(--primery-color);
  height: 50%;
  padding:5rem;
  
}

li,
ul {
  padding-left: 0;
}
