:root {
  --background-color: #fff;
  --font-color: #000;
  --conBackColor: #cfd8dc;
  --primery-color: #f8c828;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
}


