@media (prefers-color-scheme: dark) {
  :root {
    --backColor: #000;
    --fontColor: #fff;
    --conBackColor:#263238 ;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --backColor: #fff;
    --fontColor: #000;
    --conBackColor:#cfd8dc ;
  }
}

body {
  background-color: var(--backColor);
  color: var(--fontColor);
}

.container {

margin: 0 1rem;
}
